.spanheader {
    display: flex;
    justify-content: left;
    align-items: baseline;
    gap: 6px;
    padding-left: 20px;
}

.listButton {
    margin-bottom: 12px;
}
.listContainer {
    background-color: rgb(24, 63, 95);
    color: aliceblue;
    border-radius: 20px;
    padding: 20px;
    max-height: 400px;
    overflow: scroll;
    overflow-x: unset;
}